main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.circle {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 2vw;
  cursor: pointer;
}
